.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #da0400;
    outline: none;
    width: 300px;
    background: transparent #fff;
    color: #333;
}

.todo-input::placeholder {
    color: #333;
}

.todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    color: #fff;
    text-transform: capitalize;
}

.todo-button.edit {
    background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
    padding: 20px 22px 17px 22px;
}
