@import '~antd/dist/antd.css';

.ant-select-multiple .ant-select-selection-item {
    height: 27px;
}

.nav-bar {
    margin-right: 10px;
    font-size: 15px;
}

.list-btn {
    margin-right: 10px;
}

.nav-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
